.octopusdeco{
position: relative;
width: 100%;
}

#octopus{
position: relative;
left: 400px;
bottom: 75px;
z-index: -1 ;
}

#hat{
	position: relative;
	left: 390px;
	bottom: 60px;

}

#glasses{

	position: relative;
	left: 450px;
	top: 260px;
	
}